[project]
name = "quick-lights-controller"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "pydmxcontrol[audio] @ git+https://github.com/MattIPv4/PyDMXControl@master",
]
